.sub {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.sub li {
    display: list-item;
    width: 75%;
    height: 100%;
    list-style: none;
    list-style-type: none;
    text-align: center;
    position: relative;
    right: 10%;
    overflow: visible;
}

.sub li a {
    display: block;
    justify-content: center;
    width: 75%;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 100;
    border-bottom: 1px solid rgb(0, 0, 0);
    right: 10%;
    overflow: visible;
    cursor: pointer;
}

.sub li a:hover {
    background-color: lightgray;
}

.acad-u-spacer {
    margin: 4% 0px 0px 0px;
}

.hss {
    display: none;
}

.hss h1 {
    justify-content: center;
    display: flex;
    font-family: monospace;
}

.csm {
    display: none;
}

.som {
    display: none;
}

.college_logo {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#0A3A3A, #fff);
    margin: 0px -10% 0px -10%;
}

.college_logo img {
    width: 300px;
    height: 300px;
    margin-top: -45px;
}