/* styles for academic unitys and select menu */
.acad_unit > *{
    font-family: 'Montserrat' !important;
    color: var(--grey-text) !important;
}

.sub {
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    text-align: center;
    width: 5% !important;
    cursor: pointer;

}

.sub1 {
    display: none;
    position: absolute;
}

.sub option {
    cursor: pointer;
}

.label-acad-u {
    text-decoration: none;

    font-style: normal;
    font-weight: 700;
    font-size: clamp(8px, 5vw, 14px);
    line-height: 24px;
    color: white;
    text-align: center;
    background-color: #802E2F;
    z-index: 5;
    cursor: pointer;
    margin: 0px 15px 0px 15px;
}

.gradient-background-chss {
    background-image: linear-gradient(#0A3A3A, #fff);
    width: 100vw;
    height: 50vh;
    z-index: -10;
    position: fixed;
    margin-top: -5%;
}

.gradient-background-csm {
    background-image: linear-gradient(#7C0000, #fff);
    width: 100vw;
    height: 50vh;
    z-index: -10;
    position: fixed;
    margin-top: -5%;
}

.gradient-background-som {
    background-image: linear-gradient(#F3BD25, #fff);
    width: 100vw;
    height: 50vh;
    z-index: -10;
    position: fixed;
    margin-top: -5%;
}

.acad_unit h1 {
    justify-content: center;
    display: flex;
    font-size: clamp(18px, 3vw, 22px);
    text-transform: uppercase;
}

.hss, .csm, .som {
    display: block;
}

.art-hss, .art-csm, .art-som {
    margin: 4% 0px 0px 0px;
}

.college_logo {
    display: flex;
    justify-content: center;
}

.college_logo img {
    width: 25vh;
    height: 25vh;
}

.acad-u-basic-inf {
    font-family: Arial, Helvetica, sans-serif;
    color: #282828;
    margin: 3%;
    text-align: justify;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid var(--color-2);
    background: var(--color-2);
    font-weight: normal;
    color: #ffffff;
}