:root{
    --main-bg-color: rgb(121, 35, 36, 95%);
    --color-2: #FF6551;
    --main-color-text: rgb(142, 23, 26) ;
    --grey-text: #4e4747;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    box-sizing: border-box;
}
.layer1{
    background: url('../static/svg/waves.svg');
}

.spacer {
    aspect-ratio: 960/50;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


header{
    height: 100px;
    display: grid;
    align-items: center;
    padding: 10px;
    background: var(--main-bg-color);
    font-family: 'Montserrat';
    color: white;
    grid-template-columns: 3fr 5fr 2fr;
}

header>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleCont img
{
    height: 50px;
    margin-right: 15px;
}

header a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(8px, 5vw, 14px);
    line-height: 24px;
    color: white;
    text-align: center;
}

header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(18px, 3vw, 24px);
    line-height: 32px;
}

.navLinks a{
    margin: 0px 15px;
}

.signupBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    max-width: 100px;
    padding: 5px 10%;
    
    background: var(--color-2);
    border-radius: 5px;

    gap: 10px;
}

.link:hover{
    color: var(--color-2);
}